body {
  background-color: #0d1110;
  font-family: 'Ubuntu', sans-serif;
}

.home-container {
  height: 60vh;
  color: #93806e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 80px;
  flex-wrap: nowrap;
  /* transform: translate(-50%, -100%); */
}

.title-container{
  position: relative;
}

.home-title:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 2px #93806e;
  position: absolute;
  /* transform: translate(0, 108%); */
}

.home-title:nth-child(2){
  animation: wave 2s ease-in-out infinite;
}

.button-style {
  background-color: #93806e;
}

.button-style:hover{
  background-color: #d0cec1;
}

@media screen and (max-width: 633px){
  .home-title{
    font-size: 35px;
  }

  .home-ingredient-input{
    margin-top: 5px;
    width: 100%;
  }
}

@keyframes wave {
  0%, 100%
  {
    clip-path: polygon(0% 100%, 0% 56%, 12% 58%, 25% 64%, 41% 72%, 55% 74%, 72% 70%, 84% 61%, 94% 54%, 100% 54%, 100% 100%);
  }

  50% {
    clip-path: polygon(0 100%, 0 74%, 13% 71%, 26% 66%, 41% 57%, 54% 51%, 68% 57%, 79% 66%, 89% 71%, 100% 73%, 100% 100%);
  }
}

.home-buttons {
  border-radius: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.tt-menu {
  /* used to be tt-dropdown-menu in older versions */
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.home-buttons .btn {
  margin: 5px
}

.additional-ingredient {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.home-ingredient-input{
  margin-top: 5px
  display: flex;
  flex-wrap: nowrap;
}

.page-container {
  margin: 20px 15% 0 15%;
  color: #93806e;
}

html{
  scroll-behavior: smooth;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 15% 0 15%;
  color: #93806e;
}

hr {
  height: 1px;
  background-color: #8c5c43;
  border: none;
  flex-basis: 100%;
}

.ingredient-title{
  flex-basis: 100%;
  margin-left: 20px;
  padding-top: 60px;
}

.preview-img {
  height: 100px;
  width: 100px;
  /* border-color: #0d1110;
  border-width: 5px;
  border-style: inset; */
  margin: 0 10px 0 0;
  border-radius: 20px;
}

.drink-item {
  border-color: #0d1110;
  border-width: 3px;
  border-radius: 10px;
  border-style: groove;
  color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 45%;
  cursor: pointer;
  transform-origin: bottom;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  width: 100%;
  min-width: 210px;
  background-image: url("https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");

}

.drink-item:hover {
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 660px){
  .list-container{
    min-width: 240px;
    margin: 10px;
  }
  .drink-item {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.drink-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.drink-img {
  min-height: 200px;
  min-width: 200px;
  max-height: 300px;
  max-width: 100%;
  border-color: #8c5c43;
  border-width: 5px;
  border-style: inset;
}

.info-container {
  margin: 10px;
  color: #93806e;
}

.hr-icon {
  position: relative;
  margin: 0 10px;
  top: 15px;
  color: #d0cec1;
}

.hr-line {
  width: 100%;
  border-bottom-style: solid;
  border-radius: 0%;
  border-color: #d0cec1;
  position: relative;
}

.one-line {
  display: flex;
}

.error {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
